{% extends 'base.html.twig' %}
{% block body %}
<center>
    <div class="panel">
        <div class="panel-heading">
           <br>
            <h1>User: {{ user.username }} </h1>
        </div>
        <div class="panel-body">
            {{ form(form) }}
        </div>
    </div></center>
{% endblock %}