{% extends 'base.html.twig' %}
{% block body %}
<center>
    <div class="panel">
        <div class="panel-heading">
      
<div class="row" style="padding-top: 10px">
<div class="col"></div>
<div class="col">
        <div  class="shadow p-3 mb-5 bg-white rounded">
           <br> <h1>Usuario em edição:</h1>
           
            <div class="container">
            <h2>Nome: {{ user.username }} </h2>
        </div>
        <div class="panel-body">
            {{ form(form) }}
        </div></div></div>
        <div class="col"></div></div>
        </div>
    </div></center>
{% endblock %}