{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-primary" role="alert">
                Crie um usuario chamado de: admin, para testar as funções de adiministrador do sistema
            </div>
{{ form(form) }}
        </div></div></div>
{% endblock %}
