{% extends "base.html.twig" %}

{% block body %}

    <div class="text-center my-5">
        <h1>Álbuns</h1>
    </div>
  <div class="row">
     
<div class="col"></div>
      <div class="row" style="padding-left:50px;">

     {% for albuns in album %}
    
      <div class="col" id="fixed" style="text-align: center;"> 
      <hr>
      <h2><b>{{albuns.name}}</b></h2>
                        <img class="card-2" src="/uploads/2976eb9e8ad37b261441639757710c01.jpg">
                    <br>
                    
                        <a href="{{ path('album.view', { id: albuns.id }) }}" style="color: #000000; text-decoration: none;" >
                              
                        </a>
                   
               </div>
                 
            {% endfor %}

     </div>

     </div>

{% endblock %}
