{% extends "base.html.twig" %}

{% block body %}
<div class="row"  style="padding-top: 10px">
<div class="col"></div>
 <div class="col-11 shadow p-3 mb-5 bg-white rounded">
    <div class="text-center my-5">
        <h1  class="display-3">Álbuns</h1>
    </div>
      <div class="row" style="">
    
     {% for albuns in album %}
    
        <div class="col" id="fixed" style="text-align: center;">   <a href="{{ path('album.view', { id: albuns.id }) }}" style="color: #000000; text-decoration: none;" >
        <img class="card-2 mb-3" src="{{ '/uploads/' ~ postagemImg[albuns.id]  }}"  width ="450px" height="400px">
              > <h2 style="text-align: center;"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-images" viewBox="0 0 16 16">
  <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
  <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z"/>
</svg>&nbsp;&nbsp;<b>{{albuns.name}}</b></h2>   
                <br>      
            </a>
        </div>
                    
    {% endfor %}


     </div>
     <div class="container">
          
 <div class="row">
    <div class="col-sm-5">
    </div>
    <div class="col-sm-7">
    <div class="navigation" >
    <br><br>
            {{ knp_pagination_render(album) }}
        </div>
        </div>
        <div class="col-sm-1">
        </div>
        </div>
        </div></div>
        <div class="col"></div>

        </div>
{% endblock %}
