{% extends 'base.html.twig' %}
{% block body %}
    <div class="text-center my-5">
      <h1 class="display-3">{{ album.name }}</h1>
      <hr>
    </div>

 <div class="container-fluid">
                     <div class="row">
                     {% set cont = 0 %}
                     {% set apl = (album.postagem|length / 5)|round %}
                      {% if album.postagem|length < 5 %}
                  {% set apl = (album.postagem|length / 5)|round(0,'floor') %}
                    {% endif %}
            {% for postagem in album.postagem %}
             
             {% if cont == 0 %}
         <div class="column">
            {% endif %}
        
                                <img src="{{ '/uploads/' ~ postagem.imagem }}">
          {% if cont == apl %}
              </div> 
            {% endif %}
           
            {% if cont == apl %}
           {% set cont = 0 %}
           
           {% else %}
            {% set cont = cont + 1 %}
            {% endif %}

            {% endfor %}       
             </div>
            </div>
    
{% endblock %}
{% block javascripts %}
<script>

</script>
{% endblock %}