{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">
            <br>
            <h1>Novo Album</h1>
               <br>
                {{ form(form) }}
            </div>

        </div>
    </div>

{% endblock %}