{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron-img jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Acervo Artestilo</h1>
            <p class="lead">Artestilo albuns</p>
        </div>
    </div><div class="col"></div>
   <div class="col"  style="padding-top: 10px">

 <div class="row-8 shadow p-3 mb-5 bg-white rounded">
    <div class="text-center my-5">
        <h1  class="display-3">Últimos álbuns postados</h1>
    </div>
    <div class="col">
  <div class="row">
      <div  class="col-md col-12"></div>
     {% for albuns in album %}
      <div class="col-md-2 col-12"  style="text-align: center;"> 
                      
        <img class="card-2 w-100 h-80 mb-3" src="{{ '/uploads/' ~ imagem[albuns.id]}}" >
        <hr> 
        <a href="{{ path('album.view', { id: albuns.id }) }}" style="color: #000000; text-decoration: none;" >
            <h2><b>{{albuns.name}}</b></h2>   
            
            <br>      
         </a>
        </div>
                    
    {% endfor %}
            <div  class="col-md col-12"></div> 
     </div>
     <div class="row">
    <button style="" type="button" class="btn btn-dark btn-lg mt-5 mx-auto ">Ver mais albuns <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"></path>
  <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"></path>
</svg></button></div> 
    </div>
     <br><br>
     </div>

   </div>
        <div class="col"></div>
        </div>
{% endblock %}
{% block javascripts %}

<script>
let ids = [];

function getId(id){
     if(ids.find(element=> element == id)){
    console.log("AAAAAAAAAAAAAAAA")
     document.getElementById(id).style.border = "none";
     var index = ids.indexOf(id);
    if (index !== -1) {
     ids.splice(index, 1);
} 
     }else{
           ids.push(id);
     document.getElementById(id).style.border = "thick solid #3d3d40"; 
     document.getElementById(id).style.borderRadius="25px" 
    console.log(ids)
     }
    if(ids.length > 0){
   document.getElementById('togglee').style.visibility = 'visible';
}else{
    document.getElementById('togglee').style.visibility = 'hidden';
}
}
 

</script>
{% endblock %}
