<!-- Footer -->
<footer class=" text-center text-white" style="background: #000000">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/ArtestiloMolduras/" target="_blank" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>


      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.instagram.com/artestilomolduras/" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

    
    </section>
    <!-- Section: Social media -->

  

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
        eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
         <!--Grid column-->
    

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Categorias</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white"> Composições</a>
            </li>
            <li>
              <a href="#!" class="text-white"> Quadros</a>
            </li>
            <li>
              <a href="#!" class="text-white">Porta-retratos </a>
            </li>
        
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Conteúdo</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Fale Conosco</a>
            </li>
            <li>
              <a href="#!" class="text-white">Sobre Nós</a>
            </li>
            <li>
              <a href="#!" class="text-white">Nossas Molduras</a>
            </li>
            <li>
              <a href="#!" class="text-white">Formas de Envio</a>
            </li>
            <li>
              <a href="#!" class="text-white">Política de Privacidade</a>
            </li>
            <li>
              <a href="#!" class="text-white">Trocas e Devoluções</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Acervo</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Álbuns da Artestilo</a>
            </li>
            <li>
              <a href="#!" class="text-white">Imagens</a>
            </li>
            <li>
              <a href="#!" class="text-white">Meus álbuns</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
       
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © Todos os direitos reservados. 2022 
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->